/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  list-style-type: none;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 350px;
  padding: none;
  border-radius: 5px;
}

.two-grid {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 5px;
}

section.two-grid {
  width: 100%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.bullets {
  list-style-type: circle;
  color: rgb(0, 160, 196);
}

li {
  padding: 10px;
}

.bold {
  font-weight: 500;
}

.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  text-align: center;
  color: black;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin:auto;
  padding: 10px, 0;
  font-size: 1.1em;
  margin-top: 20px;
  font-weight: 400;
  font-size: 1em;
  max-width: 600px;
}

strong {
  color: rgb(0, 160, 196);
}

button {
  background: rgb(0, 160, 196);
  margin:0;
  font-weight: 400;
  color: white;
  font-size: .8em;
  border-radius: 5px;
  border: none;
  width: 60px;
  height: 25px;
}

main {
  padding-bottom: 10px;
  margin: 0 50px;
}

hr {
  margin-bottom: 10px;
  opacity: 50%;
  max-width: 600px;
}

.hidden {
  display: none;
}

h2 {
  padding: none;
  margin: none;
}

input {
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.201);
  opacity: 75%;
  padding: 0;
  margin:0;
  width: 150px;
  height: 25px;
}

h1 {
  font-size: 4em;
  padding: 10px;
}

.side {
  font-size: 1.2em;
  position: absolute;
  top: 23px;
  left: 10px;
  text-align: left;
}