/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  list-style-type: none;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 350px;
  padding: none;
  border-radius: 5px;
}

.two-grid {
  display: flex;
  justify-content: center;
  gap: 5px;
}

section.two-grid {
  width: 100%;
  margin: auto;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.bullets {
  list-style-type: circle;
  color: rgb(0, 160, 196);
}

li {
  padding: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  text-align: center;
  color: black;
  background: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin:auto;
  padding: 10px, 0;
  font-size: 1.1em;
  margin-top: 20px;
  font-weight: 200;
  font-size: 1em;
}

strong {
  color: rgb(0, 160, 196);
}

button {
  background: rgb(0, 160, 196);
  color: white;
  display: block;
  margin: 10px auto;
  font-weight: 700;
  font-size: .9em;
  padding: 2px 10px;
  border-radius: 5px;
  border: none;
}

main {
  padding-bottom: 10px;
  margin: 0 50px;
}

hr {
  margin-bottom: 10px;
  opacity: 50%;
}

.hidden {
  display: none;
}

h2 {
  padding: none;
  margin: none;
}

input {
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.201) 
}